examples/primitive-status.json
[{"id":"95884ef640e5e957","type":"tab","label":"Primitive Status","disabled":false,"info":""},{"id":"bef5433bc8c8fc00","type":"primitive-status","z":"95884ef640e5e957","name":"","x":460,"y":200,"wires":[["22fce856613a639a"],["ba0090cb6721342a"]]},{"id":"664fbcfe9a6d6de8","type":"inject","z":"95884ef640e5e957","name":"\"abc\"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"abc","payloadType":"str","x":130,"y":60,"wires":[["bef5433bc8c8fc00"]]},{"id":"3210ebf13c560dac","type":"inject","z":"95884ef640e5e957","name":"[1,2,3]","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[1,2,3]","payloadType":"json","x":130,"y":140,"wires":[["bef5433bc8c8fc00"]]},{"id":"1a7ad110fb46de9f","type":"inject","z":"95884ef640e5e957","name":"symbol","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":380,"wires":[["c440294643e6242f"]]},{"id":"0b4c83bcaf1bdcb2","type":"inject","z":"95884ef640e5e957","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"topic","payloadType":"msg","x":130,"y":260,"wires":[["bef5433bc8c8fc00"]]},{"id":"d5b15f0a14cd4458","type":"inject","z":"95884ef640e5e957","name":"null","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"null","payloadType":"json","x":130,"y":220,"wires":[["bef5433bc8c8fc00"]]},{"id":"3f3dd82d9a407b59","type":"inject","z":"95884ef640e5e957","name":"123","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"123","payloadType":"num","x":130,"y":100,"wires":[["bef5433bc8c8fc00"]]},{"id":"d74a067203b962be","type":"inject","z":"95884ef640e5e957","name":"object","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"topic\": \"success\" }","payloadType":"json","x":130,"y":180,"wires":[["bef5433bc8c8fc00"]]},{"id":"c440294643e6242f","type":"function","z":"95884ef640e5e957","name":"set msg.payload","func":"msg.payload = Symbol(\"test\");\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":380,"wires":[["bef5433bc8c8fc00"]]},{"id":"6891966502a61c98","type":"inject","z":"95884ef640e5e957","name":"BigInt","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payloadType":"str","x":130,"y":340,"wires":[["a761bc5898bc2021"]]},{"id":"a761bc5898bc2021","type":"function","z":"95884ef640e5e957","name":"set msg.payload","func":"msg.payload = BigInt(9007199254740991);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":340,"wires":[["bef5433bc8c8fc00"]]},{"id":"22fce856613a639a","type":"debug","z":"95884ef640e5e957","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":180,"wires":[]},{"id":"ba0090cb6721342a","type":"debug","z":"95884ef640e5e957","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":650,"y":220,"wires":[]},{"id":"bdcf431ee0a37ce8","type":"inject","z":"95884ef640e5e957","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"[78,111,100,101,45,114,101,100]","payloadType":"bin","x":130,"y":300,"wires":[["bef5433bc8c8fc00"]]}]